# Default ignored files
/../../linkedinTutoria;l/.idea/shelf/
/../../linkedinTutoria;l/.idea/workspace.xml
# Datasource local storage ignored files
/../../linkedinTutoria;l/.idea/dataSources/
/../../linkedinTutoria;l/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../linkedinTutoria;l/.idea/httpRequests/
